* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#music-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
}

#music-btn:hover {
  background: white;
  color: black;
}

body {
  background-color: #0f0f0f;
  color: white;
  font-family: 'Poppins', sans-serif;
  transition:'opacity' 0.4s ease;
  opacity: 1;
}

body.fade-out{
opacity:0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(15,15,15,0.95);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.logo {
  font-weight: 500;
  letter-spacing: 3px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav a:hover {
  color: #d4af37;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: white;
  transition: 0.3s;
}

/* Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  filter: brightness(0.85) blur(2px);
  animation: zoom 25s infinite alternate;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  margin-top: 120px;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  margin-bottom: 15px;
}

.hero-content p {
  margin-bottom: 20px;
  opacity: 0.8;
}

.explore-btn{
padding:12px 28px;
border:1px solid white;
color:white;
text-decoration:none;
display:inline-block;
margin-top:15px;
transition:0.3s;
}s;
}

.explore-btn:hover{
background:white;
color:black;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.4)
  );
  top: 0;
  left: 0;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.hero::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;

  background-image:
  radial-gradient(white 1px, transparent 1px),
  radial-gradient(white 1px, transparent 1px);

  background-size:80px 80px;
  background-position:0 0,40px 40px;

  opacity:0.3;
  animation:sparkleMove 20s linear infinite;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.08); }
}

@keyframes sparkleMove{
  from{
    background-position:0 0,40px 40px;
  }
  to{
    background-position:200px 200px,240px 240px;
  }
}

.explore-btn{
  padding:12px 30px;
  border:1px solid rgba(255,255,255,0.6);
  color:white;
  text-decoration:none;
  display:inline-block;
  margin-top:20px;
  backdrop-filter:blur(8px);
  background:rgba(255,255,255,0.05);
  border-radius:6px;
  transition:0.3s;
}

.explore-btn:hover{
  background:white;
  color:black;
}



/* ABOUT */
.about {
  padding: 100px 60px;
  text-align: center;
}

.about h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

.about p {
  max-width: 600px;
  margin: auto;
  opacity: 0.8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #111;
  font-size: 13px;
  opacity: 0.6;
}

/* MOBILE */
@media (max-width: 768px) {

  .header {
    padding: 20px;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 220px;
    display: none;
    padding: 30px;
  }

  .nav.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .hero-content h1 {
    font-size: 40px;
  }


}

@media (max-width: 768px){

.hero-content{
    left: 50%;
    transform: translate(-50%, -40%);
    width: 90%;
    padding: 0 10px;
    margin-top: 0;
}

.hero-content h1{
    font-size: 48px;
}

}
