<header class="header">
    <div class="logo">JIMINATION</div>

    <nav class="nav" id="nav">
      <a href="pyu/index.html">Home</a>
      <a href="pyu/pages/daily.html">Jimin Daily</a>
      <a href="pyu/pages/about.html">About Jimin</a>
      <a href="pyu/pages/charts.html">Charts</a>
      <a href="pyu/pages/discografy.html">Discografy</a>
      <a href="pyu/pages/community.html">Community</a>
      <a href="pyu/pages/support.html">Support</a>
    </nav>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </header>
